@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --bg-color-first:#fff;
    --bg-color-second:#e9edf1;
    --bg-color-third:#f37f3c;

    --text-color-first:#000;
    --text-color-second:#3d3c3c;
    --text-color-third:#f37f3c;

    --hover-text-color:#fff;

    --bg-card-1:#ecd765;
    --bg-card-2:#7f91f9;
    --bg-card-3:#eec79c;
    --bg-card-4:#cb84f9;

    --more-and-less:#555;
}

.body.dark--mode{
    --bg-color-first:linear-gradient(to bottom right, #242424,#3d3d3d);
    --bg-color-second:#202020;
    

    --text-color-first:#fff;
    --text-color-second:#9b9a9a;
    

    --hover-text-color:#000;

    --bg-card-1:linear-gradient(to bottom right, #242424, #3d381a);
    --bg-card-2:linear-gradient(to bottom right, #242424, #2d3353);
    --bg-card-3:linear-gradient(to bottom right, #242424, #4d3720);
    --bg-card-4:linear-gradient(to bottom right, #242424, #4c325e);

    --more-and-less:#f37f3c;
}


/* header */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    z-index: 999;
    background: var(--bg-color-first);
    color: var(--text-color-first);
}

.logo{
    display: flex;
    align-items: center;
}

.logo i{
    font-size: 1.5rem;
    margin-right: 15px;
}

.logo h2{
    font-family: 'Oswald', sans-serif;
}

.logo span{
    color: var(--text-color-third);
    font-family: 'Oswald', sans-serif;
}

.header--items{
    display: flex;
    align-items: center;
}

.header--items i{
    font-size: 1.3rem;
    margin-right: 25px;
    cursor: pointer;
    color: var(--text-color-first);
}

.header--items i:hover{
    color: var(--text-color-third);
}

.dark--theme--btn{
    display: flex;
    align-items: center;
}

i.moon{
    display: block;
    color: var(--text-color-third);
}

.body.dark--mode .moon{
    display: none;
}



.logooxxo{
    position: relative;
    width: 105px;
    height: 65px;
    overflow: hidden;
}

img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* main */

.main{
    position: relative;
    height: calc(100vh - 70px);
    
}

/* sidebar */

.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    padding: 20px;
    background: var(--bg-color-first);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    transition: .3s;
}

.sidebar--items li , .sidebar--bottom--items li{
    list-style: none;
}

a{
    text-decoration: none;
}

.sidebar--items a, .sidebar--bottom--items a{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 10px;
    color: var(--text-color-first);
}

.sidebar--items a:hover,
.sidebar--bottom--items a:hover{
    background: var(--bg-color-third);
    color: var(--hover-text-color);
}

a.active{
    background: var(--bg-color-third);
    color: var(--hover-text-color);
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sidebar .icon{
    margin-right: 20px;
    font-size: 1.3rem;
}

/* main--container */

.main--container{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% - 14%);
    padding: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--bg-color-second);
    z-index: 2;
}

.section--title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    color: var(--text-color-second);
}

select{
    border: none;
    outline: none;
    padding: 5px 10px;
    background-color: transparent;
    font-weight: 500;
    font-size: 1rem;
    color: var(--text-color-second);
}


.up{
    color: green;
}

.down{
    color: red;
}

.more, .less{
    color: var(--more-and-less);
}

.chart{
    margin-top: 8px;
    width: 200px;
    height: auto;
}

.chart canvas{
    max-height: 70px;
}

/* table */
.table{
    padding: 15px;
    background: var(--bg-color-first);
    border-radius: 10px;
    height: 100%;
    overflow-y: scroll;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: solid 1px #ddd;
  }
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  th{
    background-color:#f37f3c ;
  }
  td a{
    color:black;
  }
  #searchBar {
    width: 100%;
    padding: 8px;
    margin:1% 0 1% 0;
    border: solid 1px #ddd;
  }
  .panel{
    padding: 8px;

    border-color: #edf1f2;
  }
  .container{
    width:90%;
    justify-content: center;
    /*background-color:;*/
    box-shadow: 0 1px 1px #0000000d;
  }

tbody tr:hover{
    background-color: var(--bg-color-third);
    color: var(--hover-text-color);
}

.active{
    background-color: rgb(0, 180, 0);
    border-radius: 10%;
    font-size: small;
    padding: 2px;
    color: white;
}
.disactive{
    background-color: darkgray;
    border-radius: 10%;
    color: white;
    font-size: small;
    padding: 2px;
}
.off{
    background-color: red;
    border-radius: 10%;
    padding: 2px;
    color: white;
    font-size: small;
}
.text{
    background-color: darkslategrey;
    border-radius: 10%;
    padding: 2px;
    font-size: small;
    color: white;
}
.text1{
    /* background-color: darkslategrey;
    border-radius: 10%;
    padding: 2px; */
    font-size: small;
    color: gray;
}
table td .active{
    border-radius: 50px;;
    padding: 1;
    display: inline;
}
table td .off{
    border-radius: 50px;;
    padding: 1;
    display: inline;
}

/* responsive starts here */

@media screen and (max-width:1325px){
    .cards{
        overflow-x: scroll;
    }

    .sidebar{
        width: fit-content;
    }

    .sidebar .icon{
        margin-right: 0;
    }

    .sidebar--item{
        display: none;
    }

    .main--container{
        width: calc(100% - 80px);
    }

}

