{% extends 'base.html' %}
{% load static %}
{% block sidebar %}
   
        <div class="container">
            <div class="panel" >Digital Receptionists</div>
        <div class="main--container"> 
             
            <div class="table">
            <div class="panel" ><h2>Digital Receptionists</h2></div>
            <input type="text" id="searchBar" placeholder="Search...">
            <table id="myTable">
              <tr>
                <th>Ext.</th>
                <th>Name</th>
                <th>Type</th>
                <th>Prompt</th>
                <th>No input</th>
                <th></th>
              </tr>
            {% for i in data.list %}
              <tr>
                <td>{{i.Number}} </td>
                <td>{{i.Name}}</td>
                <td>{% if i.Type == 1 %} Professional {% else %} Standard {%endif%}</td>
                <td>{{i.Prompt}}</td>
                <td>{{i.NoInputDest}}</td>
                <td>
                  {% if i.CanBeDeleted %}
                  <a href="#" onclick="confirmDelete({{i.Id}})">
                  <span class="icon"><i class="ri-close-circle-line"></i></span>
                  </a>
                  {% else %} 
                  {%endif%}
                </td>
              </tr>
            {% endfor %}
            </table>
          </div>
        </div>  
        </div>
    </section>
      </body>     
    <script src="{% static 'js/JavaScript.js' %}"></script>
    <script>
        function confirmDelete(id) {
          if (confirm("Are you sure you want to delete?")) {
            window.location.href="/DigitalReceptionists?delete=true&id="+id
          } else {
            // User clicked "Cancel", do nothing or handle the cancellation
          }
        }
      </script>
      <script>
        var elements = document.querySelectorAll('.hrf');       
        // Change the class of the last element to "active"
          if (elements.length > 0) {
          var lastElement = elements[elements.length - 3];
          lastElement.classList.add('active');
        }
      </script>
</html>
{% endblock %}