{% extends 'base.html' %}
{% load static %}
{% block sidebar %}
   
        <div class="container">
            <div class="panel" >Outbound Rules</div>
        <div class="main--container"> 
             
            <div class="table">
            <div class="panel" ><h2>Outbound Rules</h2></div>
            <input type="text" id="searchBar" placeholder="Search...">
            <table id="myTable">
              <tr>
                
                <th>Outbound Rule Name</th>
                <th>Call from Ext.</th>
                <th>Prefix</th>
                <th>Length</th>
                <th>Extension Group</th>
                <th>Route 1</th>
                <th>Route 2</th>
                <th>Route 3</th>
                <th>Route 4</th>
                <th>Route 5</th>
                <th></th>
                
                
              </tr>
            {% for i in data.list %}
              <tr>
                
                <td>{{i.DisplayName}}</td>
                <td>{{i.DnRanges}} </td>
                <td>{{i.Prefix}}</td>
                <td>{{i.NumberLengthRanges}}</td>
                
                <td>{{i.FromGroups}}</td>
                <td>{% if i.Route1 %}{{i.Route1}} {% else %} BLOCK {%endif%}</td>
                <td>{% if i.Route2 %}{{i.Route2}} {% else %} BLOCK {%endif%}</td>
                <td>{% if i.Route3 %}{{i.Route3}} {% else %} BLOCK {%endif%}</td>
                <td>{% if i.Route4 %}{{i.Route4}} {% else %} BLOCK {%endif%}</td>
                <td>{% if i.Route5 %}{{i.Route5}} {% else %} BLOCK {%endif%}</td>
                <td>
                  <a href="#" onclick="confirmDelete({{i.Id}})">
                  <span class="icon"><i class="ri-close-circle-line"></i></span>
                  </a>
                </td>
              </tr>
            {% endfor %}
            </table>
          </div>
        </div>  
        </div>
    </section>
      </body>     
    <script src="{% static 'js/JavaScript.js' %}"></script>
    <script>
        function confirmDelete(id) {
          if (confirm("Are you sure you want to delete?")) {
            window.location.href="/OutboundRules?delete=true&id="+id
          } else {
            // User clicked "Cancel", do nothing or handle the cancellation
          }
        }
      </script>
      <script>
        var elements = document.querySelectorAll('.hrf');       
        // Change the class of the last element to "active"
          if (elements.length > 0) {
          var lastElement = elements[elements.length - 4];
          lastElement.classList.add('active');
        }
      </script>
</html>
{% endblock %}