<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/log.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="logo">
        <h2><span>Oxxo</span>Phone</h2>
    </div>
<div class="main-container">
    <div class="form-container">
    <br>
    {% load crispy_forms_tags %}
    {% block content %}
    <div class="form-body" style="padding-top: 20px;padding-bottom: 20px;">
        <h1>Sign Up</h1>
        <form action="" method="POST">
            {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Sign up">
        </form>
    </div>

    <div class="form-footer">
        <div style="padding-top: 10px;">
            Already have an Account? <a href="{% url 'login' %}" class="ml-2"> Log in</a>
        </div>
    </div>

</div>
</div>
    {% endblock content %}

</body>
</html>
